:root {
  --background: #D4C6A1;
  --foreground: #24201F;
  --font-fauna-one: var(--font-fauna-one), serif;
  --font-federant: var(--font-federant), serif;
}

/* #FIXME: figure out colorscheme for darkmode */
/* @media (prefers-color-scheme: dark) { 
  :root {
    --background: #24201F;
    --foreground: #D4C6A1;
  }
} */


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-fauna-one);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2, h3, h4, h5, h6 {
  font-family: var(--font-federant);
}

/* FIXME: figure out wether to have clean slate to work from across different browsers. or use materialUi built in spacing */
/* * { 
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
} */

a {
  color: inherit;
  text-decoration: none;
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
